<div class="project">
    <div class="wrapper">
        <div class="page-section-name">
            <h1>{{ card().workTitle | translate }}
                <span>{{ card().workTitle | translate }}</span>
            </h1>

        </div>

        <div class="project-content-wrapper">
            <div class="project-content">
                <div class="project-links-wrapper">
                    <a routerLink="../">{{ projectLinkLabels.goBack | translate }}</a>
                    <a [href]="card().url" target="_blank">{{ projectLinkLabels.seeProject | translate }}</a>
                </div>

                <div class="project-elements">
                    <h2 class="project-title">
                        {{ card().technologyStackTitle || '' | translate }}
                    </h2>

                    <ul class="project-list">
                        @for (stack of card().technologyStack; track stack.label) {
                            <li class="project-list-item">
                                <span> {{ stack.label | translate }}: </span>
                                <span>{{ stack.description | translate }}</span>
                            </li>
                        }
                    </ul>
                </div>

                <div class="project-problemSolved-wrapper">
                    <h2 class="project-title">
                        {{ card().problemSolvedTitle || '' | translate }}
                    </h2>

                    <p class="project-list-item">
                        {{ card().problemSolved || '' | translate }}
                    </p>
                </div>

                <p></p>

                <div class="project-elements">
                    <h2 class="project-title">
                        {{ card().featuresTitle || '' | translate }}
                    </h2>

                    <ul class="project-list">
                        @for (stack of card().features; track stack.label) {
                            <li class="project-list-item">
                                <span> {{ stack.label | translate }}: </span>
                                <span>{{ stack.description | translate }}</span>
                            </li>
                        }
                    </ul>
                </div>

                <div class="project-elements">
                    <h2 class="project-title">
                        {{ card().implementationDetailsTitle || '' | translate }}
                    </h2>

                    <ol class="project-detail">
                        @for(detail of card().implementationDetails; track $index) {
                            <li class="project-detail-title">{{ detail.label | translate }}</li>

                            <ul class="project-detail-list">
                                @for(detailItem of detail.list; track $index) {
                                    <li class="project-detail-list-item">{{ detailItem | translate }}</li>
                                }
                            </ul>
                        }
                    </ol>

                </div>
            </div>

            <div class="project-image-wrapper">
                <img [src]="card().img" [alt]="card().img">
            </div>
        </div>
    </div>
</div>