@use "../../../../assets/scss/variables" as *;

.project {
  .wrapper {
    max-width: 100%;
    overflow: auto;
    height: calc(100vh - 64px);
  }

  &-content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;
    padding-bottom: 1rem;
  }

  &-links-wrapper {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    a {
      display: inline-flex;
      align-items: center;
      padding-inline: 1rem;
      border: 1px solid $powder-blue;
      border-radius: 0.25rem;
    }
  }

  &-title {
    font-size: 1.25rem;
    color: $cadet-grey;
    margin-bottom: 1rem;
  }

  &-list {
    &-item {
      color: $payne-grey;
      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      span:first-of-type {
        font-weight: 600;
      }
    }
  }

  &-detail {
    color: $payne-grey;
    list-style: none;
    padding-left: 1.5rem;

    &-title {
      font-weight: 600;
    }

    &-list {
      list-style: disc;
      &-item {
      }
    }
  }

  &-image-wrapper {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    position: sticky;
    top: 14rem;
    border-radius: 0.5rem;
    height: 70vh;


    img {
      max-width: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }

  @media (max-width: 1440px) {
    &-content-wrapper {
      flex-direction: column;
    }

    &-content {
      max-width: 70%;
    }

    &-image-wrapper {
      height: auto;
      padding-bottom: calc(1rem + 64px);
    }

    &-list {
      padding-left: 1.5rem;
    }

    &-detail {
      padding-left: 0.5rem;

      &-list {
        padding-left: 1.5rem;
      }
    }
  }

  @media (max-width: $mobile) {
    &-content {
      max-width: 100%;
    }
  }
}