@use "../../../assets/scss/variables" as *;

.about {
  height: 100%;

  .wrapper {
    max-width: 118.75rem;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  &-image {
    max-width: 800px;
    position: sticky;
    top: calc(100vh - 600px);
    height: 70vh;

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  &-download-icon {
    svg {
      width: 1.2rem;
      height: 1.2rem;

      path {
        stroke: $white;
      }
    }
  }

  &-me {
    max-width: 37.5rem;
    margin-bottom: 2rem;

    p {
      color: $payne-grey;
      margin-bottom: 1rem;
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: max-content;
    padding: 0.5rem 0.75rem 0.25rem;
    text-decoration: none;
    color: $white;
    background-color: $cadet-grey;
    border-radius: 6px;
  }

  .section {
    padding: 0;
    max-width: 37.5rem;
  }

  .position,
  .company {
    display: block;
  }

  .position {
    color: $cadet-grey;
    font-weight: 500;

    &.lang {
      display: inline;
    }
  }

  .company {
    margin-bottom: 1rem;
    width: fit-content;
    color: $payne-grey;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 0.375rem;
  }

  .descr {
    display: block;
    color: $eerie-black;
    font-weight: 300;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  @media (max-width: $desktop) {
    &-wrapper {
      flex-direction: column-reverse;
    }

    &-image {
      position: static;
      height: auto;
    }
  }
}
