// Colors
$eerie-black: #1C2321;
$cadet-grey: #7D98A1;
$payne-grey: #5E6572;
$powder-blue: #A9B4C2;
$white: #FFFFFF;
$anti-flash-white: #EEF1EF;

$bg-header: $eerie-black;
$bg-footer: $white;
$bg-overlay: rgba($payne-grey, 0.3);
$bg-page: $white;

// Transition
$transition-2: all 0.2s;
$transition-3: all 0.3s;
$transition-5: all 0.5s;

// BreakPoints
$desktop: 90rem;
$tablet: 64rem;
$mobile: 48rem;

// Heights
$footer-height: 4rem;
