<div class="portfolio">
    <a class="portfolio-url" [routerLink]="portfolio().url">
        <img class="portfolio-img" [src]="portfolio().img" [alt]="portfolio().title">

        <div class="portfolio-content">
            <span class="portfolio-title">
                {{ portfolio().title }}
            </span>

                <span class="portfolio-stack">
                    {{ portfolio().stack }}
                    <span class="portfolio-stack-code">/></span>
            </span>
        </div>
    </a>
</div>