@use "../../../../assets/scss/variables" as *;

.portfolio {
  &-url {
    display: block;
    max-width: 375px;
    width: 100%;
    max-height: 241px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      .portfolio-img {
        top: 0;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    height: 241px;
    width: 375px;
    background-color: $eerie-black;
    color: $anti-flash-white;
    opacity: 0.9;
  }

  &-title {
    font-size: 1.5rem;
  }

  &-stack {
    color: $powder-blue;

    &-code {
      color: orange;
    }
  }

  &-img {
    position: absolute;
    top: 100%;
    left: 0;
    transition: $transition-3;
    object-fit: cover;
    max-width: 100%;
    min-width: 385px;
    width: 100%;
    min-height: 241px;
    border-radius: 4px;
    z-index: 2;
  }
}