@use "../../../assets/scss/variables" as *;

.header {
  &-burger {
    padding: 1rem;
    cursor: pointer;

    svg {
      width: 100%;
      margin-top: 0.5rem;
      max-width: 100%;

      path {
        fill: $cadet-grey;
        transition: all 0.2s;
      }
    }

    &.active {
      svg path:nth-child(0),
      svg path:nth-child(7),
      svg path:nth-child(9) {
        transform: scale(0);
      }
    }
  }

  @media (max-width: $mobile) {
    &-burger {
      height: 2rem;
      padding: 0;

      svg {
        max-width: initial;
        width: 2rem;
        height: 2rem;
        margin-top: 0;
      }
    }
  }
}