<header class="header" [class.isMenuActive]="menuToggleService.isMenuActive()">
    <div class="header-wrapper">
        <app-burger-menu />

        <div class="header-list" [class.isMenuActive]="menuToggleService.isMenuActive()">
            <app-menu-link />
        </div>

    </div>

    <div class="header-lang-switcher-wrapper">
        <div class="header-lang-switcher-items">
            @for (lang of langs; track $index) {
                <button class="header-lang-switcher header-lang-switcher-item button"
                        [class.activeLang]="selectedLang === lang"
                        (click)="onClickedLang(lang)"
                >
                    <svg-icon [src]="'../../../assets/icons/flags/' + lang + '.svg'"></svg-icon>
                </button>
            }
        </div>
    </div>
</header>
