@use "../../../assets/scss/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-header;
  height: 100%;
  position: sticky;
  z-index: 10;
  transition: $transition-2;

  &.isMenuActive {
    box-shadow: 10px 0px 40px $white;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  app-burger-menu {
    background-color: $bg-header;
    position: relative;
    z-index: 4;
  }

  &-list {
    display: flex;
    writing-mode: vertical-rl;
    gap: 1rem;
    transition: $transition-3;

    transform: translateY(-120%);

    &.isMenuActive {
      transform: translateY(0);
    }
  }

  &-lang-switcher {
    padding: 0;
    color: $anti-flash-white;
    background-color: inherit;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 1rem;
      top: -3rem;

      svg {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      position: absolute;
      top: -100%;
      opacity: 1;
      transition: $transition-2;
      overflow: hidden;
    }

    &-item {
      display: block;
      width: 100%;
      padding: 0.125rem 0;
      font-size: 0;

      transition: $transition-2;
      transform: scale(1);

      &.activeLang {
        background-color: $cadet-grey;
        pointer-events: none;
      }

      &:not(.activeLang):hover {
        background-color: $powder-blue;
      }
    }
  }

  &-burger {
    padding: 1rem;
    cursor: pointer;

    svg {
      width: 100%;
      margin-top: 0.5rem;
      max-width: 100%;

      path {
        fill: lime;
        transition: all 0.2s;
      }
    }

    &:not(.active)hover {
      svg path:nth-child(6),
      svg path:nth-child(8),
      svg path:nth-child(9) {
        transform: scale(0);
      }
    }

    &.active {
      svg path:nth-child(0),
      svg path:nth-child(7),
      svg path:nth-child(9) {
        transform: scale(0);
      }
    }
  }

  @media (max-width: $mobile) {
    flex-direction: row;
    padding-top: 1rem;
    padding-inline: 1.5rem;
    overflow: hidden;

    &-wrapper {
      flex-direction: row;
      height: 2rem;
    }

    &-list {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      writing-mode: horizontal-tb;
      transform: translateY(170%);
    }

    &-lang-switcher {
      font-size: 0;


      &-wrapper {
        flex-direction: row-reverse;
        gap: 0.5rem;
        height: 2rem;
        padding: 0;
        top: 0;
      }

      &-items {
        flex-direction: row;
        gap: 1rem;
        position: static;
        transition: $transition-2;
      }

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 0;
      }
    }
  }
}