@use "../../../../assets/scss/variables" as *;

.header-item {
  color: $cadet-grey;
  transition: $transition-3;
  text-decoration: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 1.25rem;
    height: 0;
    width: 0.125rem;
    background-color: $cadet-grey;
    transition: $transition-3;
  }

  &:hover {
    text-decoration: none;

    &:before {
      height: 69%;
    }
  }

  transform: rotate(180deg) scale(0);

  &.isShowLinks {
    transform: rotate(0deg) scale(1);
  }

  @media (max-width: $mobile) {
    padding: 0.5rem;

    &:before {
      content: '';
      position: absolute;
      left: 0.5rem;
      bottom: 0;
      height: 0.125rem;
      width: 0;
      background-color: $cadet-grey;
      transition: $transition-3;
    }

    &:hover {
      text-decoration: none;

      &:before {
        height: 0.125rem;
        width: calc(100% - 1.5rem);
      }
    }
  }
}