<div class="home">
    <div class="wrapper">
        @if (isContentLoadedService.isTranslationLoaded()) {
            <div class="page-section-name">
                <h1>
                    {{ 'home.pageSectionName' | translate }}
                    <span>{{ 'home.pageSectionName' | translate }}</span>
                </h1>
            </div>

            <div class="home-wrapper">
                <div class="home-title-wrapper">
                    <h1 class="home-title">
                        {{ 'home.title' | translate }}
                        <span>{{ 'home.titleSpan' | translate }}</span>
                    </h1>

                    <div class="home-descr">
                        <p>
                            {{ 'home.firstDescr' | translate }}
                        </p>

                        <p>
                            {{ 'home.secondDescr' | translate }}
                        </p>
                    </div>
                </div>

                <div class="home-image-wrapper">
                    <img src="./assets/pages/home/globe-gif.gif" />
                </div>
            </div>
        } @else {
            <app-loader></app-loader>
        }
    </div>
</div>
