<div class="skills">
    <div class="wrapper">
        <div class="page-section-name">
            <h1>{{ 'skills.pageSectionName' | translate }}
                <span>{{ 'skills.pageSectionName' | translate }}</span>
            </h1>
        </div>

        <div class="skills-wrapper">
            <div class="skills-content">
                <section class="section">
                    <h2 class="section-title">HARD SKILLS</h2>

                    <ul class="skills-list">
                        @for (skill of hardSkills; track $index) {
                            <li class="skills-item">{{ skill }}</li>
                        }
                    </ul>
                </section>

                <section class="section">
                    <h2 class="section-title">SOFT SKILLS</h2>

                    <ul class="skills-list">
                        <li class="skills-item">{{ 'skills.softSkillsData.communicat' | translate }}</li>
                        <li class="skills-item">{{ 'skills.softSkillsData.creativity' | translate }}</li>
                        <li class="skills-item">{{ 'skills.softSkillsData.teamWork' | translate }}</li>
                        <li class="skills-item">{{ 'skills.softSkillsData.problemSolving' | translate }}</li>
                        <li class="skills-item">{{ 'skills.softSkillsData.engagement' | translate }}</li>
                        <li class="skills-item">{{ 'skills.softSkillsData.sociable' | translate }}</li>
                    </ul>
                </section>
            </div>

            <div class="skills-svg">
                <svg-icon src="./assets/pages/skills/skills.svg"></svg-icon>
                <div class="skills-angular-icon-wrapper">
                    <img src="./assets/pages/skills/angular.png" alt="angular">
                </div>
            </div>
        </div>
    </div>
</div>