@use "../../../assets/scss/variables" as *;

.footer {
  background-color: $bg-footer;
  overflow: hidden;
  height: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 0;
  }

  &-copyright {
    font-size: 0.875rem;
    font-weight: 300;
    color: $cadet-grey;
    margin-right: 0.5rem;
  }

  &-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &-link {
    text-decoration: none;
    color: $payne-grey;
    padding: 0;
    height: 1.5rem;


    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media (max-width: $mobile) {
    background-color: $payne-grey;

    .wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0.5rem;
    }

    &-copyright {
      margin-right: 0;
    }
  }
}